<mat-toolbar color="primary" class="main-toolbar">
  <img class="nav-logo" src="/assets/images/modl_buildr.png" alt="Modl Builder wordmark">
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item class="menu-button">Log out</button>
  </mat-menu>
</mat-toolbar>
<mat-sidenav-container class="page-container">
  <mat-sidenav mode="side" opened>
    <mat-form-field class="search">
      <input matInput placeholder="Search products">
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-list>
      <h3 mat-subheader>Manufacturer</h3>
      <mat-list-item>
        <button mat-button class="list-button">
          All
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button class="list-button">
          Mountain Disk
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button class="list-button">
          Flintstone
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Item type</h3>
      <mat-list-item>
        <button mat-button class="list-button">
          All
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button class="list-button">
          Hospital bed
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button class="list-button">
          A/V
        </button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="product-list-toolbar">
      <h2 class="products-title">Product List</h2>
      <div class="view-mode-buttons">
        <button mat-raised-button [color]="viewTiles ? 'primary' : 'default'" (click)="viewTiles = !viewTiles">
          <mat-icon>grid_on</mat-icon>
          Tile View
        </button>
        <button mat-raised-button [color]="!viewTiles ? 'primary' : 'default'" (click)="viewTiles = !viewTiles">
          <mat-icon>view_list</mat-icon>
          List View
        </button>
      </div>
    </mat-toolbar>
    <section class="browse">
      <app-products-tiles [products]="products" *ngIf="viewTiles"></app-products-tiles>
      <app-products-table [products]="products" *ngIf="!viewTiles"></app-products-table>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
