<mat-toolbar color="primary" class="main-toolbar">
  <img class="nav-logo" src="https://modl.oasisdigital.com/assets/images/modl_buildr.png" alt="Modl Builder wordmark">
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item class="menu-button">Log out</button>
  </mat-menu>
</mat-toolbar>
<mat-sidenav-container class="page-container">
  <mat-sidenav mode="side" opened>
    <mat-form-field class="search">
      <input matInput placeholder="Search products">
    </mat-form-field>
    <mat-divider></mat-divider>
    <ng-container *ngFor="let value of commonValues; last as last">
      <mat-list>
        <h3 matSubheader>{{ value.display }}</h3>

        <mat-chip-list *ngIf="!!propertyFilters[value.key]">
          <ng-container *ngFor="let val of value.values">
            <mat-chip *ngIf="propertyFilters[value.key] === val" (removed)="filter(value.key, '')">
              {{val}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </ng-container>
        </mat-chip-list>

        <ng-container *ngIf="propertyFilters[value.key]===''">
          <mat-list-item *ngFor="let val of value.values" (click)="filter(value.key,val)">
            <button mat-button *ngIf="propertyFilters[value.key] !== val" class="list-button">
              {{ val || 'None' }}
            </button>
            <button mat-button color="primary" *ngIf="propertyFilters[value.key] === val" class="selected list-button">
              {{ val || 'None' }}
            </button>
          </mat-list-item>
        </ng-container>

      </mat-list>
      <mat-divider *ngIf="!last"></mat-divider>
    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="product-list-toolbar">
      <h2 class="products-title">Product List</h2>
      <div class="view-mode-buttons">
        <button mat-raised-button [color]="viewTiles ? 'primary' : 'default'" (click)="viewTiles = !viewTiles">
          <mat-icon>grid_on</mat-icon>
          Tile View
        </button>
        <button mat-raised-button [color]="!viewTiles ? 'primary' : 'default'" (click)="viewTiles = !viewTiles">
          <mat-icon>view_list</mat-icon>
          List View
        </button>
      </div>
    </mat-toolbar>
    <section class="browse">
      <app-products-table [products]="displayList()" *ngIf="!viewTiles"></app-products-table>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
