<mat-card *ngFor="let product of products">
  <mat-card-title>
    <span>{{ product?.BaseLabel }}</span>
    <mat-icon color="accent" *ngIf="product?.Featured">whatshot</mat-icon>
  </mat-card-title>
  <img mat-card-image [src]="'assets/' + product?.Image" alt="product image for {{product.BaseDesc}}">
  <mat-card-content>
    <div class="card-content">
      <div>
        <div class="mat-small label">Name:</div>
        <div class="mat-small label">Mfr:</div>
        <div class="mat-small label">Item Type:</div>
        <div class="mat-small label">Subtype:</div>
      </div>
      <div class="product-properties" fxLayout="column" fxLayoutAlign="center start">
        <div class="mat-body-2">{{ product?.BaseDesc }}</div>
        <div class="mat-body-2">{{ product?.Manufacturer }}</div>
        <div class="mat-body-2">{{ product?.ItemType }}</div>
        <div class="mat-body-2">{{ product?.ItemSubType1 }}</div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button color="primary" mat-raised-button>Customize</button>
  </mat-card-actions>
</mat-card>
